<div class="media">
  <div class="media-left">
    <%= image_tag 'http://placehold.it/70x70' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= post.user.email %></h4>
    <p><%= post.content %></p>
  </div>
</div>
